In [1]:
import pandas as pd

## Importing Change Order info
#### Grouped by project

In [9]:
co = pd.read_csv('data/raw_data/change_orders.csv',index_col='CONT_ID')['C_O_AMT']
co.columns = ['co_amt']
co = co.map(lambda x: float(x.replace('$','').replace(',','')))
co = co.groupby(co.index).sum()

## Importing Bidding info
#### Grouped by project

In [21]:

bid = pd.read_csv('data/raw_data/bidding_info.csv',index_col='Proposal Number')
bid = bid[['Engineers Estimate','Bid Total','Awarded']]
# co.columns = ['co_amt']
# co = co.map(lambda x: float(x.replace('$','').replace(',','')))
# co = co.groupby(co.index).sum()

In [23]:
bid.head(20)

                      Engineers Estimate       Bid Total  Awarded
Proposal Number
C13970R-ALT A              $9,692,453.81  $11,117,898.98      0.0
C13970R-ALT A Average                NaN             NaN      NaN
C14951                     $1,006,169.00   $1,697,764.32      0.0
C14951                     $1,006,169.00   $1,243,328.10      1.0
C14951                     $1,006,169.00   $1,854,136.00      0.0
C14951 Average                       NaN             NaN      NaN
MM3022                       $695,544.00     $783,966.60      0.0
MM3022                       $695,544.00     $726,422.00      1.0
MM3022 Average                       NaN             NaN      NaN
C14611                       $782,312.60   $1,009,401.00      0.0
C14611                       $782,312.60     $824,785.60      0.0
C14611                       $782,312.60     $781,716.56      1.0
C14611                       $782,312.60     $882,236.45      0.0
C14611                       $782,312.60     $857,258.10      0.0
C14611                       $782,312.60     $796,262.20      0.0
C14611 Average                       NaN             NaN      NaN
C14621                       $406,544.30     $499,057.15      0.0
C14621                       $406,544.30     $402,424.72      0.0
C14621                       $406,544.30     $479,076.10      0.0
C14621                       $406,544.30     $387,890.95      1.0